// COLOURS
$background-color: #ececee;
$dark-text: #ffffff;
$light-text: #111c54;
$light-blue: #0896d6;
$button-background: #178492;

// BREAKPOINTS
$mobile: 575.98px;
$tablet: 991.98px;

// PAGE WIDTHS
$content-width: 90%;
$max-content-width: 1320px;